:root {
  --cyan: #66e2dc;
  --tomato: #fa7453;
  --peach: #ffb964;
  --light: #fcfaf9;
  --dark: #191826;
}

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  color: var(--dark);
  background: var(--light);
}

/* Components */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.8125rem;
  flex-shrink: 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.77778;
  letter-spacing: -0.01125rem;
  border-radius: 0.75rem;

  transition: all 0.4s ease-in-out;
}

.btn.btn-ios {
  background: var(--dark);
  color: var(--light);
}
.btn.btn-ios:is(:hover, :focus-visible) {
  background-color: var(--cyan);
}
.btn.btn-android {
  color: var(--dark);
  background: var(--light);
}
.btn.btn-android:is(:hover, :focus-visible) {
  background-color: var(--peach);
}

/* Utility Classes */

.heading-primary {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02844rem;
}
.title-primary {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
}

.body-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}
.body-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.55556;
}

.price {
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 0.8;
}
.month {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.0125rem;
}

.footer-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625;
}

/*=========================================  Media Queries ============================*/

/* For Tablet Screens */
@media screen and (min-width: 48em) {
  .heading-primary {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: -0.04544rem;
  }
  .body-text {
    font-size: 1.125rem;
    line-height: 1.55556;
  }
}

/* For Desktop Screens */

@media screen and (min-width: 90em) {
  .heading-primary {
    font-size: 5.5rem;
    letter-spacing: -0.0625rem;
  }
  .body-text {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .body-text-2 {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .title-primary {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
  }
}
